footer {
	background-color: $gray;
	color: $white;
	padding-top: 30px;    
    position: relative;
    // z-index: 2;
	.logoFooter {
		max-height: 130px;
		padding: 20px;
	}
	.categoriasFooter {
		ul { padding: 0px; }
		a { color: white; }
	}
	.copyright {
		background-color: $gray-light;
		height: 60px;
		p {
			text-align: center;
			line-height: 60px;
			position: relative;
			top: 0px;
			margin-bottom: 0;
		}
	}
}