header {
	background-color: $white;
	.container{
		padding: 15px;
	}
	.headerBoxLogo {
		.logoTop {
			max-height: 130px;
			padding: 20px;
		}	
	}
	.headerBoxLeft {
		padding: 30px 20px 0px 0px;	
		
		h3 {
			color: $gray-light;
			font-size: 35px;
			font-weight: 400;
		}
		.widget{
		border-left: 1px solid #ccc;
    padding-left: 30px;
		margin-left: -10px;
	
	}
		
	}
		
		.headerBoxRight{
			padding: 30px 0px 0px 0px;
			h3 {
			color: $gray-light;
			font-size: 25px;
			font-weight: 400;
			}
			
		}
		p {
			color: $gray-light;
		}
	
	

	}










