.menuPrincipalContent {
	position: relative;
	z-index: 2;
	line-height: 40px;
	.navbar{
		padding: 0px;
	}
	.menuPrincipal {
		background-color: #424242 !important;
		
		
		.search-position{
		position: absolute;
		right: 0;
		top: 10px;	
			
				.search{
					height: 50px;
						}
		
				.input-search{
					width: 300px !important;
					height: 50px !important;
						}
	
		}
		
	
		
		.navbar-collapse{
		border-left: 1px solid #5c5c5c
		}

		ul {   
    	font-size: 20px;
    	font-weight: 400; 
			
		}
		a { color: $white; }
		a:hover { 
			background-color: #646464;
			text-decoration: none;
		}
		
		.logoNavbar {
			max-height: 50px;		
		}
		@media (max-width: 991px) {
			position: fixed;
			right: 0px;
			left: 0px;
			top: 0px;
			z-index: 1030;		
		}
		@media (min-width: 992px) {
			.nav-item {
				padding: 15px 25px 15px 25px;
				border-right: 1px solid #5c5c5c;
				&:hover {
						background-color: #646464;
						text-decoration: none;
					.subMenu {
						display: block;	
						margin-left: -25px;
					}
				}
				// a { padding: 15px; }
			}
			.subMenu, .children {
				a {
					background-color: #fff;
					border: 1px solid #ccc;
					color:	gray;
					font-size: 20px;
					line-height: 50px;				
    			display: block;		
					&:hover {
						background-color: #eee;
					}
				}
			}
			.subMenu {
				position: absolute;
				-webkit-padding-start: 0px; 
				padding: 0px;
				display: none;
				top: 67px;
				z-index: -2;
				.children {					
					-webkit-padding-start: 0px;
					padding: 0px;
					right: -229px;
					position: relative;
					top: -53px;
					display: none;
				}
				li { 
					height: 50px;
					width: 230px;
					&:hover {
						.children {
							display: block;
						}
					}
					a {
						padding-left: 15px;
					}
				}
			}
		}
	}	
}










