.menuPrincipalContent {
	position: relative;
	z-index: 2;
	line-height: 40px;
	.menuPrincipal {
		background-color: $gray !important;
		ul { background-color: $gray; }
		a { color: $white; }
		.logoNavbar {
			max-height: 50px;		
		}
		@media (max-width: 991px) {
			position: fixed;
			right: 0px;
			left: 0px;
			top: 0px;
			z-index: 1030;		
		}
		@media (min-width: 992px) {
			.subMenu, .children {
				a {
					color: #777;
					font-size: 14px;
					line-height: 30px;					
					border-top: 1px solid #e6e6e6;
    				display: block;
				}
			}
			.subMenu {
				position: absolute;
				-webkit-padding-start: 10px 20px; 
				padding: 10px 20px;
				.children {					
					-webkit-padding-start: 10px 20px;
					padding: 10px 20px;
					right: -243px;
					position: relative;
					top: -50px;
				}
			}
		}
	}	
}
