.menuPrincipalContent {
	position: relative;
	z-index: 2;
	line-height: 40px;
	.menuPrincipal {
		background-color: $gray !important;
		ul { background-color: $gray; }
		a { color: $white; }
		.logoNavbar {
			max-height: 50px;		
		}
		@media (max-width: 991px) {
			position: fixed;
			right: 0px;
			left: 0px;
			top: 0px;
			z-index: 1030;		
		}
		@media (min-width: 992px) {
			.nav-item {
				margin-right: 15px;
				&:hover {
					.subMenu {
						display: block;
					}
				}
			}
			.subMenu, .children {
				a {
					color: #777;
					font-size: 14px;
					line-height: 30px;					
					border-top: 1px solid #e6e6e6;
    				display: block;
				}
			}
			.subMenu {
				position: absolute;
				-webkit-padding-start: 10px 0px; 
				padding: 10px 0px;
				display: none;
				.children {					
					-webkit-padding-start: 10px 0px;
					padding: 10px 0px;
					right: -230px;
					position: relative;
					top: -41px;
					display: none;
				}
				li { 
					height: 32px;
					width: 230px;
					&:hover {
						.children {
							display: block;
						}
					}
					a {
						padding-left: 15px;
					}
				}
			}
		}
	}	
}
