.siglePage {
	.titulo {
		margin: 20px 0 20px 0;
	}
	.detalhesInfoTec {
		margin: 20px 0 20px 0;
	}
	.produtosRelacionados {
		margin: 20px 0 20px 0;
	}
	.card-deck {
		img { max-height: 220px; }
	}
}