.siglePage {
	h1{
		font-size: 2.3rem;
		font-weight: 400;
	}
	
	.content {
		background-color: #fff;	
		border-bottom: 3px solid #ccc;
		box-shadow:0px 0px 10px 0px #ccc;
		position: relative;
		z-index: 1;
		.breadcrumb {
			margin-top: 10px;
			background-color: #fff;
			margin-bottom: 5px;
			font-size:15px;
			padding-left: 30px;
		}
		.titulo {
			padding: 10px 0 40px 30px;
			color: $gray;	
			border-bottom: solid 1px #ddd;
			margin-bottom: 40px;
		}
		.imgProduto {
			padding-left: 20px;
			padding-right: 0px;
			margin-left: 15px;
			margin-right: -15px;
			overflow: hidden;
			
			.imgDestaque{	
				img {
					max-width: 100%;
					padding-top: 10px;
					padding-bottom: 10px;
					max-height: 299px;	
				}
			}
		}		
		
		.img-thumb 	.gallery-icon{
			border: none;
		}
		.img-thumb-gallery{
		
			max-width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid 1px #ccc;
			border-radius: 5px;
			max-height: 100px;
		}		
		
		.textoProduto {     
				padding-left: 40px;
				padding-right: 50px; 
		}
		
		.detalhesInfoTec {
				margin: 0px 0 70px 8px;
			.tab-content {
				padding: 20px 15px;
				border: 1px solid #ccc;
				border-radius: 0px 0px 10px 10px;
			}
			.nav-link {
				font-size: 20px;
    		font-weight: 500;
			}
			pre {
				font-family: lato;
				font-size: 100%;
			}
		}
	}
	
	label{ margin-bottom: 0px}
	
	.btn-success{
		font-size: 20px;
    	font-weight: 400;
		text-transform: uppercase;
	}
	
	.produtosRelacionados {
		padding: 10px 0 30px 0;
		background-color: $gray-lighter;
		box-shadow: 0px 0px 10px 0px #ccc;
		.produtosRelacionadosTitle {
			margin: 20px 0 20px 0;
		}	
		.card-deck {
			.card-produtosRelacionados{
				margin-bottom: 20px;
			}
			img { max-height: 220px; }			
			a:focus, a:hover {
				text-decoration: none !important;
			}
		}
		
		.card {	
			&:hover {
				box-shadow: 0px 0px 5px 0px #ccc;
				text-decoration: none !important;
			}
		}	
		
		h4.card-title {
			color: $gray;
			font-size: 1.2rem;
		}		
		.card-text{
		color: gray;
		}
		
		.badge {
				background-color: #568dca;
    		padding: 10px;
				font-weight: 400;
    		margin: 0 5px 10px 5px;
    		font-size: 20px;
			a {
				color: #fff;
			}
		}
	}	
	
	.gallery-icon {		
		max-width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		border: solid 1px #ccc;
		border-radius: 5px;	
	}	
}






