
body {

	.categoryPage {	
		background-color: $white;
		
		.content {
			background-color: #fff;	
			border-bottom: 3px solid #ccc;
			box-shadow: 0px 0px 10px 0px #ccc;
			position: relative;
			z-index: 1;
		}
		
		.titulo {
			padding: 10px 0 20px 30px;
			color: $gray;	
			border-bottom: solid 1px #ddd;
			margin-bottom: 40px;
		}
		
		.breadcrumb {
				margin-top: 10px;
				background-color: #fff;
				margin-bottom: 5px;
				font-size:15px;
				padding-left: 30px;
		}
		h1 {     
			margin-bottom: 30px;		
			text-transform: capitalize;
			font-size: 2.1rem;
			font-weight: 400;
		}
		a {
			text-decoration: none !important;
		}
		.card {
			margin-bottom: 30px;		
			&:hover {
				box-shadow: 0px 0px 5px 0px #ccc;
			}		
			h4.card-title {
				color: $gray;
				font-size: 1.2rem;
			}
			img {		
				max-height: 200px;
				position: relative;
				left: 50%;
				transform: translate(-50%);
			}
			
			.card-text{
				color: gray;
			}
			
			.card-footer {
				overflow: auto;
			}		
		}	
		
		.menu{
			line-height: 30px;
			margin-top: 30px;
			font-size: 18px;
		}

		.nav-tabs .nav-link.active{
			color: #0664cc;
			background-color: #fff;
			border: 0px;
			border-top: #0564cc 3px solid;
			font-size: 20px;
			font-weight: 600;
			border-top-right-radius: 0rem;
			border-top-left-radius: 0rem;
		}
		
		.nav-item .nav-link{
			font-size: 20px;
			color: #151515;
			font-weight: 600;
			background: #eee;
		}
		
		li.nav-item
			{
				list-style: none !important;
			}

		ul li {
			list-style-image: url('http://res.cloudinary.com/beta-automacao/image/upload/v1495988771/categories_kueelv.png') !important;
		}
		
		.h2-category{
			padding: 20px;
			font-size: 1.3rem;
			font-weight: 400;
			color: #8d8d8d;
		
		}	
	}
}















