$color-betaautomacao:	#0463cc; 

.bg-gray { background-color: $gray; }

.btn-primary {
	text-transform: uppercase !important;
	font-weight: bold !important;
	cursor:  pointer !important;
}

.bg-blue {
	background-color: $brand-primary !important;	
	&:hover {
		background-color: darken($brand-primary, 10%) !important;
		border-color: darken($brand-primary, 10%) !important;
	}
}

