footer {
	background-color: $gray;
	color: $white;
	padding-top: 30px;    
    position: relative;
	
	.fa{
	padding-right: 10px;
	}
	
	.contato-footer {

    margin-left: 20%;
    margin-top: 20%;

	}

	
	h4{
	margin-bottom: 20px;
	}
    // z-index: 2;
	.logoFooter {
		max-height: 130px;
		padding: 20px;
	}
	.categoriasFooter {
		    margin-left: 20%;
		ul { padding: 0px;  line-height: 25px;}
		a { color: white; }
	}
	.copyright {
		background-color: $gray-light;
		height: 60px;
		p {
			text-align: center;
			line-height: 60px;
			position: relative;
			top: 0px;
			margin-bottom: 0;
		}
	}
}