header {
	background-color: $white;
	.container{
		padding: 15px;
	}
	.headerBoxLogo {
		.logoTop {
			max-height: 130px;
			padding: 20px;
		}	
	}
	.headerBoxLeft {
		padding: 30px 20px 0px 0px;	
	}
		
		.headerBoxRight{
			padding: 30px 20px 0px 0px;
			h3 {
			font-weight: 400 !important;
			}
			
		}
		p {
			color: $gray-light;
		}
	

	}

	









