body {
    li { list-style-type: none; }
}
.btn{
    font-weight: bold !important;
    text-transform: uppercase;
}

h1{
		font-size: 2.1rem !important;
		font-weight: 400;
    }
    

h3 {
    font-size: 1.65rem !important;
    color: $gray-light !important;
    font-weight: 400 !important;
    }    

 h4 {
         font-weight: 500 !important;
    }    
   


.btn-success{
		font-size: 20px;
    	font-weight: 400;
		text-transform: uppercase;
    }    
    

strong {

    font-weight: 500 !important;

    }